
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">On-Site发布</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left">On-Site信息</div>
      </div>
      <div class="panel-body">
        <form role="form" onSubmit="return false;" class="form-horizontal">
          <div class="form-group">
            <label for="function" class="col-sm-3 control-label">职能：</label>
            <div class="col-sm-8">
              <select id="function" name="function" can-value="function" required="required" class="form-control">
                <option></option>
                <option value="项目经理">项目经理</option>
                <option value="WMS">WMS</option>
                <option value="TMS">TMS </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="elc" class="col-sm-3 control-label">ELC：</label>
            <div class="col-sm-8">
              <select id="elc" name="elc" can-value="elc" required="required" class="form-control">
                <option></option>
                <option value="上海ELC">上海ELC</option>
                <option value="北京ELC">北京ELC</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="projectName" class="col-sm-3 control-label">项目：</label>
            <div class="col-sm-8">
              <select id="projectName" name="projectName" can-value="projectName" required="required" class="form-control">
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-3 control-label">类型：</label>
            <div class="col-sm-8">
              <select id="type" name="type" can-value="type" required="required" class="form-control">
                <option></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="workContent" class="col-sm-3 control-label">工作内容：</label>
            <div class="col-sm-8">
              <textarea id="workContent" name="workContent" can-value="workContent" rows="5" placeholder="请输入工作内容..." required="required" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="solution" class="col-sm-3 control-label">解决方案／措施：</label>
            <div class="col-sm-8">
              <textarea id="solution" name="solution" can-value="solution" rows="5" placeholder="请输入解决方案／措施..." class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="remark" class="col-sm-3 control-label">Remark：</label>
            <div class="col-sm-8">
              <textarea id="remark" name="remark" can-value="remark" rows="5" placeholder="请输入备注..." class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="date" class="col-sm-3 control-label">日期：</label>
            <div class="col-sm-8">
              <div class="input-group date">
                <input id="date" name="date" can-value="date" type="text" required="required" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-8 col-sm-2">
              <button id="submitBtn" class="btn btn-primary">&nbsp;&nbsp;发布&nbsp;&nbsp;</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>