.row
  .col-lg-6
    .panel.panel-default
      .panel-heading PMS项目汇总
      .panel-body
        .flot-chart
          #flot-line-chart-multi.flot-chart-content
  .col-lg-6
    .panel.panel-default
      .panel-heading WMS汇总
      .panel-body
        .flot-chart
          #flot-pie-multi.flot-chart-content
  
