ul.nav.nav-tabs
  li.active(role="presentation")
    a(href="#!home/msgDashboard") 公告栏
  // 16-6-20 添加事件列表
  li(role="presentation")
    a(href="#!home/pmDashboardList") 事件列表
  li(role="presentation")
    a(href="#!home/dashboardList") 系统列表
  li(role="presentation")
    a(href="#!home/dashboard") 图表统计
br

.row
  .col-lg-12.text-center(style="padding:0 0 10px; 0")
.row
  .col-lg-12
    table#msgList.table.table-striped.table-bordered.table-hover.dt-responsive.nowrap(cellspacing="0", width="100%")
      thead
        tr
          th 项目
          th PM/PSE
          th ELC
          th 类型
          th On-Site 管理任务
          th ELC On-Site 解决方案／措施
          th Remark
          th 时间
      tfoot
