ul.nav.nav-tabs
  li.active(role="presentation")
    a(href="#!home/msgDashboard") On-Site
  // 16-6-20 添加事件列表
  li(role="presentation")
    a(href="#!home/pmDashboardList") 事件列表
  li(role="presentation")
    a(href="#!home/dashboardList") 系统列表
  li(role="presentation")
    a(href="#!home/dashboard") 图表统计
br

.row
  .col-lg-12.text-center(style="padding:0 0 10px; 0")
    form#searchForm.form-inline(onSubmit="return false;")
      .form-group
        label(for="start") 按发布时间起:
        .input-group.date
          input#start.form-control(name="start", type="text")
          span.input-group-addon
            i.glyphicon.glyphicon-th
      .form-group
        label(for="end") 止:
        .input-group.date
          input#end.form-control(name="end", type="text")
          span.input-group-addon
            i.glyphicon.glyphicon-th
      button.btn.btn-primary 查询
.row
  .col-lg-12
    table#msgList.table.table-striped.table-bordered.table-hover.dt-responsive.nowrap(cellspacing="0", width="100%")
      thead
        tr
          th 项目
          th PM/PSE
          th ELC
          th 类型
          th On-Site 管理任务
          th ELC On-Site 解决方案／措施
          th Remark
          th 日期
      tfoot
