
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#!home/msgDashboard">公告栏</a></li>
  <!-- 16-6-20 添加事件列表-->
  <li role="presentation"><a href="#!home/pmDashboardList">事件列表</a></li>
  <li role="presentation"><a href="#!home/dashboardList">系统列表</a></li>
  <li role="presentation"><a href="#!home/dashboard">图表统计</a></li>
</ul><br/>
<div class="row">
  <div class="col-lg-offset-1 col-lg-10">最新公告</div>
</div>
<div id="noMsgShow" class="row hide">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="msgHeader"></div>
    <div class="msgBody"><i>暂无任何公告信息!</i></div>
  </div>
</div>
<div id="more" class="row text-center">
  <button class="btn btn-default">更多</button>
</div>