
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left">{{title}}</div>
    </div>
    <div class="panel-body">
      <form role="form" onSubmit="return false;" class="form-horizontal">
        <input type="hidden" name="category" value="PM"/>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="project" class="col-sm-6 control-label">*项目名称(Project):</label>
              <div class="col-sm-6">
                <select id="project" name="project" placeholder="项目" class="form-control"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="supplier" class="col-sm-6 control-label">*所属供应商:</label>
              <div class="col-sm-6">
                <!-- 16-6-20 供应商换为下拉框-->
                <select id="supplier" name="supplier" placeholder="供应商" class="form-control"></select>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="issueDate" class="col-sm-6 control-label">*问题发现时间(Issue Date):</label>
              <div class="col-sm-6">
                <div class="input-group date">
                  <input id="issueDate" name="issueDate" type="text" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="teammates" class="col-sm-3 control-label">*事件参与人:</label>
              <div class="col-sm-9">
                <div id="teammates" class="checkbox"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="isCFeedback" class="col-sm-6 control-label">*是否由客户反馈:</label>
              <div class="col-sm-6">
                <select id="isCFeedback" name="isCFeedback" placeholder="项目" class="form-control">
                  <option value="1">Y</option>
                  <option value="0">N</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="containmentPlanDate" class="col-sm-6 control-label">*补救方案期限(Containment Plan Date):</label>
              <div class="col-sm-6">
                <div class="input-group date">
                  <input id="containmentPlanDate" name="containmentPlanDate" type="text" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="actionPlanDate" class="col-sm-6 control-label">*改善方案期限(Action Plan Date):</label>
              <div class="col-sm-6">
                <div class="input-group date">
                  <input id="actionPlanDate" name="actionPlanDate" type="text" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="type" class="col-sm-6 control-label">*问题类型(Issue Type):</label>
              <div class="col-sm-6">
                <select id="type" name="type" placeholder="类型" class="form-control"></select>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="severity" class="col-sm-6 control-label">*问题严重性(severity):</label>
              <div class="col-sm-6">
                <select id="severity" name="severity" placeholder="严重性" class="form-control"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="beginStorehouse" class="col-sm-6 control-label">*始发地和涉及库房信息:</label>
              <div class="col-sm-6">
                <select id="beginStorehouse" name="beginStorehouse" class="form-control"></select>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="spc" class="col-sm-6 control-label">*SPC名(填写方式：自营／外包＋城市名，SAMPLE:自营 武汉):</label>
              <div class="col-sm-6">
                <input id="spc" name="spc" can-value="spc" placeholder="SPC" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="orderNo" class="col-sm-6 control-label">订单号(Order No.):</label>
              <div class="col-sm-6">
                <input id="orderNo" name="orderNo" can-value="orderNo" placeholder="订单号" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="hawb" class="col-sm-6 control-label">运单号(HAWB):</label>
              <div class="col-sm-6">
                <input id="hawb" name="hawb" can-value="hawb" placeholder="运单号" class="form-control"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="partInformation" class="col-sm-3 control-label">备案信息(Part Information):</label>
            <div class="col-sm-8">
              <textarea id="partInformation" name="partInformation" can-value="partInformation" rows="3" placeholder="请输入备案信息..." class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="scheduledTime" class="col-sm-6 control-label">原定派送／取件时间(Scheduled delivery/pick-up time):</label>
              <div class="col-sm-6">
                <div class="input-group date">
                  <input id="scheduledTime" name="scheduledTime" type="text" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="actualTime" class="col-sm-6 control-label">实际派送／取件时间(Actual delivery/pick-up time):</label>
              <div class="col-sm-6">
                <div class="input-group date">
                  <input id="actualTime" name="actualTime" type="text" class="form-control"/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="problemStatement" class="col-sm-3 control-label">问题描述(Problem Statement):</label>
            <div class="col-sm-8">
              <textarea id="problemStatement" name="problemStatement" can-value="problemStatement" rows="3" placeholder="请输入问题描述..." class="form-control"></textarea>
            </div>
          </div>
        </div>
        <!-- 16-6-20 隐藏情况反馈-->
        <div class="row">
          <div class="form-group">
            <label for="recoveryDescription" class="col-sm-3 control-label">补救方案描述(Recovery Description):</label>
            <div class="col-sm-8">
              <textarea id="recoveryDescription" name="recoveryDescription" can-value="recoveryDescription" rows="3" placeholder="请输入补救方案描述..." class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="rootCause" class="col-sm-3 control-label">问题根本原因(Root Cause):</label>
            <div class="col-sm-8">
              <textarea id="rootCause" name="rootCause" can-value="rootCause" rows="3" placeholder="请输入问题根本原因..." class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="correctiveAction" class="col-sm-3 control-label">改善方案(Corrective Action):</label>
            <div class="col-sm-8">
              <textarea id="correctiveAction" name="correctiveAction" can-value="correctiveAction" rows="3" placeholder="请输入改善方案..." class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="attachmentPath" class="col-sm-3 control-label">附件:</label>
            <div class="col-sm-8"><span class="btn btn-success fileinput-button"><i class="glyphicon glyphicon-plus"></i><span>Select files...</span>
                <input id="filePicker" type="file" name="Filedata" class="file-loading"/></span>
              <input id="attachmentPath" type="hidden" name="attachmentPath" can-value="attachmentPath"/><a id="attachment" href="#" target="_blank" class="btn btn-primary hide">下载</a>
              <div id="attachmentRow" class="row hide">
                <table id="attachmentList" cellspacing="0" width="100%" class="table table-striped table-bordered table-hover dt-responsive nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>文件名</th>
                      <th>上传时间</th>
                      <th>大小</th>
                      <th>拥有人</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-offset-6 col-sm-2">
              <button id="submitBtn" class="btn btn-primary">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
              <button id="resetBtn" class="btn btn-default">&nbsp;&nbsp;清空&nbsp;&nbsp;</button>
              <button id="closeBtn" class="btn btn-primary hide">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>