nav#subNavbar.hide.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#!home')
        span.glyphicon.glyphicon-home
        |Home
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          button#loginBtn.btn.btn-default.navbar-btn(type='button') Sign in
.row
  .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left {{title}}

      .panel-body
        .row
          .col-lg-6
            form.form-horizontal(role='form')
              input#id(type="hidden", name="id")
              input#category(type="hidden", can-value="category")
              .form-group
                label.col-sm-3.control-label(for="project") 项目
                .col-sm-8
                  select#project.form-control(name="project", placeholder="项目")
              .form-group
                label.col-sm-3.control-label(for="type") 问题类型
                .col-sm-8
                  select#type.form-control(name="type", placeholder="类型")
              .form-group
                label.col-sm-3.control-label(for="emailTo") 邮件人
                .col-sm-8
                  input#emailTo.form-control(type="email", can-value="emailto",  name="emailto", placeholder="Email")
              .form-group
                label.col-sm-3.control-label(for="group") 邮件组
                .col-sm-8
                  select#group.form-control(name="group", placeholder="邮件组")
              .form-group
                label.col-sm-3.control-label(for="handler") 处理人
                .col-sm-8
                  select#handler.form-control(name="handler", placeholder="邮件组")
          .col-lg-6
            form.form-horizontal(role="form")
              .form-group
                label.col-sm-3.control-label(for="city") 城市
                .col-sm-8
                  select#city.form-control(name="city", placeholder='城市')
              .form-group
                label.col-sm-3.control-label(for="startdate") 项目发起时间
                .col-sm-8
                  .input-group.date
                    input#startdate.form-control(name='startdate', type="text")
                    span.input-group-addon
                      i.glyphicon.glyphicon-th
              .form-group
                label.col-sm-3.control-label(for="promisedate") 要求结束时间
                .col-sm-8
                  .input-group.date
                    input#promisedate.form-control(name='promisedate', type="text")
                    span.input-group-addon
                      i.glyphicon.glyphicon-th
              .form-group
                label.col-sm-3.control-label(for="severity") 问题严重性
                .col-sm-8
                  select#severity.form-control(name="severity", placeholder='问题严重性')
        .row
          form.form-horizontal(role="form", onSubmit="return false;")
            .form-group
              label.col-sm-3.control-label(for='description') 问题描述
              .col-sm-7
                //- .row
                //-   input#filePicker.file-loading(type='file')
                //- section.row
                //-   #description(name='description', contenteditable="true")
                textarea#description.form-control(name='description', can-value="description", rows="3", placeholder="请输入问题描述...")
            .form-group.hide
              label.col-sm-3.control-label(for='rootCause') 问题原因
              .col-sm-7
                textarea#rootCause.form-control(name='rootCause', can-value="rootCause", rows="3", placeholder="请输入问题原因...")
            .form-group.hide
              label.col-sm-3.control-label(for='correctiveAction') 问题解决办法
              .col-sm-7
                textarea#correctiveAction.form-control(name='correctiveAction', can-value="correctiveAction", rows="3", placeholder="请输入问题解决办法...")
            .form-group
              label.col-sm-3.control-label(for='attachmentPath') 附件:
              .col-sm-7
                span.btn.btn-success.fileinput-button
                  i.glyphicon.glyphicon-plus
                  span Select files...
                  input#filePicker.file-loading(type='file', name='Filedata')
                .row#attachmentRow.hide
                  table#attachmentList.table.table-striped.table-bordered.table-hover.dt-responsive.nowrap(cellspacing="0", width="100%")
                    thead
                      tr
                        th ID
                        th 文件名
                        th 上传时间
                        th 大小
                        th 拥有人
                        th 操作
            //- .form-group
            //-   label.col-sm-3.control-label(for="suggestion") 解决建议
            //-   .col-sm-7
            //-     textarea#suggestion.form-control(name='suggestion', can-value="suggestion", rows="3", placeholder="请输入解决建议...")
            .form-group
              .col-sm-offset-8.col-sm-2
                button#submitBtn.btn.btn-primary &nbsp;&nbsp;提交&nbsp;&nbsp;
                button#resetBtn.btn.btn-default &nbsp;&nbsp;重置&nbsp;&nbsp;
                button#saveBtn.hide.btn.btn-primary &nbsp;&nbsp;保存&nbsp;&nbsp;
