.row
  .col-lg-12
    h1.page-header 自定义报表

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left 自定义报表列表
        #operates.btn-group.pull-right
          button.btn.btn-default.btn-sm(type="button", data-action='create')
            span.glyphicon.glyphicon-plus(aria-hidden="true")
            |新增
          button.btn.btn-default.btn-sm(type="button", data-action='update', disabled)
            span.glyphicon.glyphicon-wrench(aria-hidden="true")
            |修改
          button.btn.btn-default.btn-sm(type="button", data-action='delete', disabled)
            span.glyphicon.glyphicon-minus(aria-hidden="true")
            |删除
          //- button.btn.btn-default.btn-sm(type="button", data-action='toggle', disabled)
          //-   span.glyphicon.glyphicon-play(aria-hidden="true")
          //-   font 启用

            
      .panel-body
        .dataTable_wrapper
          table#reportTable.table.table-striped.table-bordered.table-hover.dt-responsive.nowrap(cellspacing="0", width="100%")
            thead
              tr
                th id
                th 名称
                th 类型
                th 来源名称
                th 使用组
                th 创建时间
                th 修改时间
                th 参数1
                th 类型1
                th 参数2
                th 类型2
                th 参数3
                th 类型3
                th 参数4
                th 类型4
                th 参数5
                th 类型5
                th 参数6
                th 类型6

            tfoot
