
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">自定义报表 / {{pageType}}</h1>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left"> 自定义报表信息</div>
      <div id="operates" class="btn-group pull-right">
        <button type="button" data-action="save" class="btn btn-default btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-save"></span>保存</button>
        <button type="button" data-action="refresh" class="btn btn-default btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-repeat"></span>重置</button>
        <button type="button" data-action="cancel" class="btn btn-default btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>取消</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <form role="form" class="form-horizontal">
            <input type="hidden" name="id" can-value="id"/>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名称</label>
              <div class="col-sm-10">
                <input id="name" type="text" name="name" can-value="name" placeholder="名称" required="required" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="value" class="col-sm-2 control-label">来源名称</label>
              <div class="col-sm-10">
                <select id="value" name="value" can-value="value" placeholder="来源名称" required="required" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="groups" class="col-sm-2 control-label">使用组</label>
              <div class="col-sm-10">
                <select id="groups" name="groups" placeholder="使用组" class="form-control"></select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label for="param1" class="col-sm-2 control-label">参数1</label>
              <div class="col-sm-10">
                <input id="param1" type="text" name="param1" can-value="param1" placeholder="参数1名称" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type1" class="col-sm-2 control-label">类型1</label>
              <div class="col-sm-10">
                <select id="type1" name="type1" can-value="type1" placeholder="参数1类型" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="param2" class="col-sm-2 control-label">参数2</label>
              <div class="col-sm-10">
                <input id="param2" type="text" name="param2" can-value="param2" placeholder="参数2名称" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type2" class="col-sm-2 control-label">类型2</label>
              <div class="col-sm-10">
                <select id="type2" name="type2" can-value="type2" placeholder="参数2类型" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="param3" class="col-sm-2 control-label">参数3</label>
              <div class="col-sm-10">
                <input id="param3" type="text" name="param3" can-value="param3" placeholder="参数3名称" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type3" class="col-sm-2 control-label">类型3</label>
              <div class="col-sm-10">
                <select id="type3" name="type3" can-value="type3" placeholder="参数3类型" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="param4" class="col-sm-2 control-label">参数4</label>
              <div class="col-sm-10">
                <input id="param4" type="text" name="param4" can-value="param4" placeholder="参数4名称" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type4" class="col-sm-2 control-label">类型4</label>
              <div class="col-sm-10">
                <select id="type4" name="type4" can-value="type4" placeholder="参数4类型" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="param5" class="col-sm-2 control-label">参数5</label>
              <div class="col-sm-10">
                <input id="param5" type="text" name="param5" can-value="param5" placeholder="参5名称" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type5" class="col-sm-2 control-label">类型5</label>
              <div class="col-sm-10">
                <select id="type5" name="type5" can-value="type5" placeholder="参数5类型" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="param6" class="col-sm-2 control-label">参数6</label>
              <div class="col-sm-10">
                <input id="param6" type="text" name="param6" can-value="param6" placeholder="参数6名称" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type6" class="col-sm-2 control-label">类型6</label>
              <div class="col-sm-10">
                <select id="type6" name="type6" can-value="type6" placeholder="参数6类型" class="form-control">
                  <option></option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>