
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">系统字典</h1>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left">系统字典</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="text-center">字典列表</h2>
          <div id="dictList" class="list-group"></div>
        </div>
        <div class="col-lg-offset-2 col-lg-4">
          <h2 class="text-center">参数列表</h2>
          <div id="params" class="list-group"></div>
          <div id="paramAdd" class="hide">
            <div class="input-group">
              <input id="addValue" type="text" placeholder="新参数..." class="form-control"/><span class="input-group-btn">
                <button id="addBtn" type="button" class="btn btn-default">添加</button></span>
            </div>
            <div style="margin-top: 10px;" class="text-center">
              <button id="saveBtn" class="btn btn-primary btn-lg">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>