.row
  .col-lg-12
    h1.page-header 组

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading.clearfix
        .panel-title.pull-left 组列表
        #operates.btn-group.pull-right
          button.btn.btn-default.btn-sm(type="button", data-action='create')
            span.glyphicon.glyphicon-plus(aria-hidden="true")
            |新增
          button.btn.btn-default.btn-sm(type="button", data-action='update', disabled)
            span.glyphicon.glyphicon-wrench(aria-hidden="true")
            |修改
          button.btn.btn-default.btn-sm(type="button", data-action='delete', disabled)
            span.glyphicon.glyphicon-minus(aria-hidden="true")
            |删除

            
      .panel-body
        .dataTable_wrapper
          table#groupTable.table.table-striped.table-bordered.table-hover.dt-responsive.nowrap(cellspacing="0", width="100%")
            thead
              tr
                th id
                th 名称
                th 用户列表

            tfoot
