
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">其他</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-lg-offset-1">
    <select id="section" class="form-control">
      <option value="day">日报</option>
      <option value="week" selected="selected">周报</option>
      <option value="month">月报</option>
      <option value="year">年报</option>
    </select>
  </div>
  <div class="row col-lg-8">
    <div class="row">
      <div class="col-lg-6">一键生成 & 下载：</div>
      <div class="col-lg-6"><a id="downloadBtn" href="#" target="_blank" class="btn btn-primary btn-sm">生成 & 下载</a></div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <div class="col-lg-6">一键生成 & 推送：</div>
      <div class="col-lg-6">
        <button id="pushBtn" class="btn btn-primary btn-sm">生成 & 推送</button>
      </div>
    </div>
  </div>
</div>
<hr/>
<h2>高级导出：</h2>
<div class="row">
  <form class="form-inline col-lg-offset-1 col-lg-6">
    <div class="form-group">
      <label for="year">年：</label>
      <select id="year" class="form-control"></select>
    </div>
    <div class="form-group">
      <label for="month">月：</label>
      <select id="month" class="form-control"></select>
    </div>
    <div class="form-group">
      <label for="date">日：</label>
      <select id="date" class="form-control"></select>
    </div>
  </form><a id="richDownloadBtn" href="#" target="_blank" class="btn btn-primary btn-sm">生成 & 下载</a>
</div>