
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading"><img src="public/static/DHL3.jpg"/></div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input placeholder="LoginID" can-value="loginID" autofocus="autofocus" name="loginID" required="required" class="form-control"/>
              </div>
              <div class="form-group">
                <input placeholder="Password" can-value="password" type="password" name="password" required="required" class="form-control"/>
              </div><a class="login_button btn btn-lg btn-success btn-block">Login</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>